# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Cache
.vite/
*.tsbuildinfo

# Editor
.DS_Store
.idea/
.vscode/

data.csv
data-*.csv

import requests.py

player.txt
village.txt
ally.txt
tz.docx

Масс планер 100 мир (1).xlsx